:root {
	--nav-height: 50px;
}

body {
	margin: 0 auto;
	background-color: dimgray;
	color: white;
	max-width: 100vw;
}

nav {
	height: var(--nav-height);
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	position: sticky;
	top: 0;
}

main {
	min-height: calc(100vh - var(--nav-height));
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 17.5%;
}

footer {
	background-color: black;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: goldenrod;
}

a:active {
	color: white;
}

.container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.buttons-container {
	text-align: center;
}

.player-container {
	text-align: center;
}